/* styles.css */
.value-section {
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
}

.value-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
}

.value-item {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    height: 332px; /* 적절한 높이 설정 */
    background-size: cover;
    background-position: center;
}

.value-item#item1 {
    background-image: url('/public/image/value_sample1.jpg'); /* 이미지 경로 변경 */
}

.value-item#item2 {
    background-image: url('/public/image/value_sample2.jpg'); /* 이미지 경로 변경 */
}

.value-item#item3 {
    background-image: url('/public/image/value_sample3.jpg'); /* 이미지 경로 변경 */
}

.value-item#item4 {
    background-image: url('/public/image/value_sample4.jpg'); /* 이미지 경로 변경 */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 반투명 검은색 배경 */
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.overlay h2 {
    margin: 0;
    font-size: 1.5em;
}

.overlay p {
    margin-top: 10px;
    font-size: 1em;
}

.value-item:hover .overlay {
    background-color: rgba(103, 111, 84, 1); /* 초록색 반투명 배경 */
    color: white;
}