
.swiper {
width: 100%;
height: 100%;
}

.swiper-slide {
text-align: center;
font-size: 18px;
background: #fff;

/* Center slide text vertically */
display: flex;
justify-content: center;
align-items: center;
}

.swiper-slide img {
display: block;
width: 100%;
height: 100%;
object-fit: cover;
opacity: 0.8;
}

.swiper {
margin-left: auto;
margin-right: auto;
}

/* styles.css */
.swiper-button-next,
.swiper-button-prev {
  color: #fff; /* 흰색 */
}

.swiper-pagination-bullet {
  background: #fff; /* 흰색 */
}

.swiper-pagination-bullet-active {
  background: #fff; /* 흰색 */
}


.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
}

.text-overlay h2 {
  margin: 0;
  font-size: 2em;
}

.text-overlay p {
  margin-top: 10px;
  font-size: 1em;
}